<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>my yo project</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <div-- class="container">
            <!--div class="header"-->

            <!--div class="col-12">
                <ul id="menu-main" class="nav navbar-nav" style="">
                    <li class="text-center">
                        <%= link_to "Home", root_path  %>
                    </li>
                    <li class="text-center">
                        <%= link_to "About", root_path  %>
                    </li>
                    <li class="text-center">
                        <%= link_to "Help", root_path  %>
                    </li>
                </ul>
            </div-->


            </div>


            <div class="jumbotron">
                <h3 class="text-muted">Journalism Hackathon 7/12/15 Group 4's Project</h3>
                <br/>


                <h2>Journo Friend</h2>
                <h4>Find what's already out there so you can make your stories fresh</h4>

                <p class="lead">Optional: Type in keywords about your topic separated by commas.</p>
                <textarea style="margin: 0px; width: 330px; height: 70px;" >Current version of this app allows user to type in keywords separated by commas. In next version, user will be able to type whole sentences and phrases; i.e., a brief abstract of the topic on which he or she plans to write an article. </textarea>

                <p class="lead">Optional:  Select a popularity level</p>
                <div>
                    <select class="form-control" id="Popularity">
                            <option selected='selected'>Popularity rating of articles.</option>
                            <option id=Many> Many reader comments </option>
                            <option id=Some> Some reader comments </option>
                            <option id=Few> Few reader comments </option>
                    </select>
                    <br/>
                </div>

                <p class="lead">Optional:  Select a date range</p>
                <div class="date">
                    <label>Enter a date before 1989-10-30:</label>
                    <input type="date" name="myDate" max="1989-10-29"><br/>

                    <label>Enter a date after 2001-01-01:</label>
                    <input type="date" name="myDate" min="2001-01-02">
                    <br/>
                </div>

                <p><button class="btn btn-default" type="submit">Search</button>
                    <!--a class="btn btn-lg btn-success" href="#">Search<span class="glyphicon glyphicon-ok"></span></a--></p>

                 <textarea style="margin: 0px; width: 330px; height: 150px;">
Articles that match your query:

Article title
URL to article
Popularity

Article title
URL to article
Popularity

Article title
URL to article
Popularity


            </textarea>

            </div>


            <div class="row marketing">

            </div>

            <!--div class="footer">
                <p><span class="glyphicon glyphicon-heart">g heart</span> from the Yeoman team</p>
            </div-->

        </div>


        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js scripts/plugins.js -->
        <script src="../bower_components/bootstrap/js/affix.js"></script>
        <script src="../bower_components/bootstrap/js/alert.js"></script>
        <script src="../bower_components/bootstrap/js/dropdown.js"></script>
        <script src="../bower_components/bootstrap/js/tooltip.js"></script>
        <script src="../bower_components/bootstrap/js/modal.js"></script>
        <script src="../bower_components/bootstrap/js/transition.js"></script>
        <script src="../bower_components/bootstrap/js/button.js"></script>
        <script src="../bower_components/bootstrap/js/popover.js"></script>
        <script src="../bower_components/bootstrap/js/carousel.js"></script>
        <script src="../bower_components/bootstrap/js/scrollspy.js"></script>
        <script src="../bower_components/bootstrap/js/collapse.js"></script>
        <script src="../bower_components/bootstrap/js/tab.js"></script>
        <!-- endbuild -->

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
